
* {
  font-family: Arial, Helvetica, sans-serif;
}

.table-head{
  background-color: deepskyblue;
}

.title{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.title-create{
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.table-container{
  margin-top: -1px;
}


.add-entry{
  justify-content: left;
}


.create-btn{
  float: right;
  margin-right: 60px;
}

.input-field{

}

.create-body{
  margin: none;
  padding: none;

  margin-left: 10px;

}

.form-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-head{
  font-size: small;
}

.create-btns{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.form-container{
  margin: 0px ;
}

.form-subm{
  display: flex;
  flex-direction: row;
  justify-content: center;
}